{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Editar Barbeiro</h1>
    <form action="/atualizar_barbeiro" method="post" class="row g-3 needs-validation" novalidate data-bs-theme="dark">
        <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Nome</label>
            <input type="text" class="form-control" name="nome" id="validationCustom01" value="{{ barbeiro[1] }}" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="col-md-6">
            <label for="validationCustom03" class="form-label">CPF</label>
            <input type="number" class="form-control" name="cpf" id="validationCustom03" value="{{ barbeiro[2] }}" required>
            <div class="invalid-feedback">
                Please provide a valid CPF.
            </div>
        </div>

        <div class="col-md-6">
            <label for="validationCustomUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <span class="input-group-text" id="inputGroupPrepend">@</span>
                <input type="text" class="form-control" name="username" id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend" value="{{ barbeiro[3] }}" required>
                <div class="invalid-feedback">
                    Please choose a username.
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <label for="validationCustom05" class="form-label">Nova Senha</label>
            <input type="password" class="form-control" name="password" id="validationCustom05" value="" required>
            <div class="invalid-feedback">
                Please provide a valid password.
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" id="btn_content" type="submit">Editar Barbeiro</button>
        </div>
    </form>
</div>
{% endblock %}